<section class="admin-section-content">
  <div class="container">
    <div class="row">
      <div class="col-12 header-n-breadcrumb">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>Edit Banner</h2>
          </div>
          <div class="col-12 col-md-6 align-self-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
                <li class="breadcrumb-item"><%= link_to "banners", admin_banners_path %></li>
                <li class="breadcrumb-item active" aria-current="banner">Edit</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-sm-12 admin-banners">
        <%= render :partial => "shared/flash" %>
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>
</section>
