@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,500,600,700');

body {
  font-family: 'Lato', sans-serif!important;
} 

p {color: #000;}
.custom-green{ color: #00d299!important }
.custom-red{ color: #ed1b26!important }
.main-section .breadcrumb{ background-color: transparent; }
.main-section .breadcrumb a{ color: #1268a9; }
.main-section .breadcrumb-item + .breadcrumb-item::before{content: ">"}
.main-section .breadcrumb ol.breadcrumb{ margin-bottom: 0; }
.main-section .breadcrumb ol.breadcrumb li { font-size: 13px; }

/*---------------------------------------
                NAV
----------------------------------------*/
#nav {
  position: fixed!important;
  left: 0;
  top: 0;
  right: 0;
  z-index: 900;
/*  padding-top: 20px;*/
  padding-bottom: 15px;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  background: #ed1b26 url('/assets/menu-bg.jpg') no-repeat center !important;
/*  background-color: red;
  background-repeat: no-repeat;
  background-position: center;*/
}
/* 
#nav{
  padding-bottom: 15px;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  background: #ed1b26 url('/assets/menu-bg.jpg') no-repeat center !important;
} */

#nav .logo {
  float: left;
  margin-top: 10px;
}

#nav.scrolled .logo .logo1 { display: none; }
#nav.scrolled .logo .logo2 { display: block; }
#nav .logo .logo2 { display: none; }

#nav .bars {
  float: right;
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 50px;
  display: none; 
}
#nav .bars span {
  position: absolute;
  display: block;
  width: 45px;
  height: 5px;
  background-color: #fff;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  border-radius: 40px;
  transform-origin: center; 
}
#nav .bars span.first { top: 8px; }
#nav .bars span.third { bottom: 8px; }
#nav .bars span.second { top: 22.5px; }
#nav .bars.clicked span.first {
  top: 22.5px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg); 
}
#nav .bars.clicked span.second {
  opacity: 0;
  top: 0; 
}
#nav .bars.clicked span.third {
  bottom: 22.5px;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg); 
}
#nav .links {
  float: right;
  list-style: none;
  font-size: 0; 
}
#nav .links li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-right: 8px;
}
#nav .links li a {
  position: relative;
  /* text-transform: uppercase; */
  color: #fff;
  font-size: 13px;
  padding: 4px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  font-weight: 600;
  cursor: pointer;
}
#nav .links li a:hover { color: #ed1b26; background-color: #fff; }
/*#nav .links li a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s  ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  border: 1px solid #1e69a1;
  opacity: 0;
}*/
#nav .links li a { text-decoration: none;}
#nav .links li a:hover { border-color: #fff; }
#nav .links li a:hover:before {
  opacity: 1;
  -webkit-transform: translate(-5px, -5px);
  -o-transform: translate(-5px, -5px);
  -moz-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px); 
}
#nav .links li.active a { border-color: #fff;color: #ed1b26;background-color: #fff; }
#nav .links li.active a:before {
  opacity: 1;
  -webkit-transform: translate(-5px, -5px);
  -o-transform: translate(-5px, -5px);
  -moz-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}

#nav .links li:last-of-type { margin-right: 0; }
#nav.hidden { top: -100px; }
#menu.enable-scroll { overflow-y: scroll; }

#nav.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 2px #ccc;
  opacity: 1; 
}
#nav.scrolled .bars span { background-color: #222222; }
#nav.scrolled .links li a {
  color: #fff;
}#nav.scrolled .links li a:hover{
  color: #ed1b26;
  border-color: #ed1b26;
}
#nav.scrolled .links li a:before { border-color: #888888; }
#nav.scrolled .links li.active a {
  border-color: #ed1b26;
  color: #ed1b26;
}
#nav.scrolled .links li.active a:before { border-color: #2c3e50; }
#nav ul#menu{ margin-bottom: 0px;margin-top: 20px; }

@media (max-width: 323px) {
  .section-title { font-size: 45px; } 
}
@media (max-width: 1199px) {
  #nav { background-color: #273746; }
  #nav .bars { display: block; }
  #nav .links {
    display: none;
    float: none;
    clear: both;
    padding-top: 40px;
    position: relative;
    max-height: 100vh;
  }
  #nav .links li {
    display: block;
    text-align: center;
    margin-right: 0;
  }
  #nav .links li a {
    border: 0;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 0;
  }
  #nav .links li a:before { display: none; }
  #nav .links li.active a {
    background-color: #34495e;
    color: #fff;
  }
  #nav .links:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    width: 100%;
    height: 1px;
    background-color: #eee;
  }
  #nav.scrolled .links li.active a { color: #fff; }
}
@media (max-width: 314px) {
  #nav .logo img {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  } 
}
@media (max-width: 570px) {
  #nav .links { overflow-y: scroll; }
}



/*---------------------------------------
                HEADER
----------------------------------------*/
#header {
  /* position: relative; */
  /* min-height: 55vh;
  background-size: cover;
  background-position: center;
  background-color: #34495e;
  overflow: hidden; */
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 90px;
}
#header .content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  text-align: center;
  padding-top: 10px; 
}
#header .content h1 {
  position: relative;
  font-size: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}
#header .content h1 span {
  position: relative;
  z-index: 1;
  font-size: 110px;
}
#header .content p {
  color: #fff;
  text-transform: uppercase;
  font-size: 19px;
  word-spacing: 3px;
}
#header .content p .char {
  position: relative;
  top: 20px;
  opacity: 0;
}
#header .content .buttons { margin-top: 30px; }
#header .content .buttons a {
  display: inline-block;
  color: #fff;
  padding: 12px 60px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 50px;
  /* font-family: titillium-bold; */
  position: relative;
  background-color: #2c3e50;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  position: relative;
  bottom: 0; 
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
}
#header .content .buttons a:first-of-type { margin-right: 12px; }
#header .content .buttons a:nth-of-type(2) { margin-left: 12px; }
#header .content .buttons a:hover {
  background-color: #273746;
  bottom: 3px; 
}
/* #header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2c3e50;
  opacity: .93;
} */

/*---------------------------------------
                FOOTER
----------------------------------------*/
.footer-top-area {
  background-color: #000;
  padding: 80px 0 48px;
  font-size: 14px;
}

.fw-info .flogo {
  margin: 0 0 40px;
}

.footer-widget .text {
  color: #ffffff;
  margin: 0 0 36px;
}

.fw-info .social-title {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 16px;
}

.fw-info .social, .fw-links .links, .fw-contact .info  {
  list-style: outside none none;
  padding: 0;
}

.fw-info .social li {
  display: inline-block;
}

.fw-info .social li a {
  background: #55575a none repeat scroll 0 0;
  border-radius: 100%;
  color: #ffffff;
  display: block;
  font-size: 13px;
  height: 33px;
  line-height: 33px;
  margin-right: 17px;
  text-align: center;
  width: 33px;
}

.footer-widget {
  margin: 0 0 30px;
}

.footer-widget .title {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 37px;
}

.fw-links .links li {
  margin: 0 0 4px;
  padding-left: 38px;
  position: relative;
}

.fw-links .links li::before {
  background: #ed1b26 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 49%;
  width: 21px;
}

.fw-links .links li a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
}

.footer-widget .text {
  color: #ffffff;
  margin: 0 0 36px;
}

.fw-contact .text {
  margin: 0 0 15px;
  padding: 0 0 13px;
  position: relative;
  font-size: 14px;
}

.fw-contact .text::after, .ten-name::after {
  background: #ed1b26 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 39px;
}

.fw-contact .info li {
  color: #ffffff;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
  margin: 0 0 13px;
  padding-left: 30px;
  position: relative;
}

.fw-contact .info li span {
  color: #ed1b26;
  left: 0;
  position: absolute;
  top: 0;
  font-size: 18px;
}

.footer-bottom-area {
  background: #1b1c1e none repeat scroll 0 0;
  padding: 15px 0;
}

.footer-bottom-area .copyright p{
  text-align: center;
  color: #fff;
  font-size: 14px;
}

#footer .social-media {
  background-color: #19222a;
  text-align: center;
  font-size: 0;
  padding-top: 50px;
  padding-bottom: 50px; 
}
#footer .social-media a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
  position: relative;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
#footer .social-media a i {
  font-size: 14px;
  color: #222222;
  line-height: 40px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
#footer .social-media a:hover i { color: #fff; }
#footer .social-media a.facebook:hover { background-color: #3b5998; }
#footer .social-media a.instagram:hover { background-color: #f77737; }
#footer .social-media a.twitter:hover { background-color: #1da1f2; }
#footer .social-media a.linked:hover { background-color: #0077b5; }
#footer .footer-text {
  background-color: #0f1419;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#footer .footer-text p {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  word-spacing: 2px;
  color: #888;
}


/*---------------------------------------
                SECTION
----------------------------------------*/
section.normal {
  padding-top: 100px;
  padding-bottom: 20px;
}

section.with-user-bar {
  padding-top: 140px;
  padding-bottom: 20px;
}

.section-title {
  font-size: 55px;
  letter-spacing: -1px;
  margin-bottom: 80px;
  position: relative;
  padding-bottom: 10px;
}

/* ====================== DOWNLAODS  ======================*/
.download {
  background: #fff none repeat scroll 0 0;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.27);
  margin: 0 25px 30px;
  padding: 7px 10px;
  transition: all 0.3s ease 0s;
  color: #686868;
}

.download:hover {
    border-bottom: 2px solid #ed1b26;
}
.download .icon {
  font-size: 16px;
}

.download .icon img{ width:30px; margin-right: 10px; }
/* --------------------------------------------
 *  breadcrumb
 *----------------------------------------------- */
.header-n-breadcrumb{
  margin: 50px 0;
}

.header-n-breadcrumb h2{margin-bottom: 0;}

.header-n-breadcrumb .breadcrumb{
  font-size: 13px;
  float: right;
}
.header-n-breadcrumb ol.breadcrumb{ margin-bottom: 0; }



/* --------------------------------------------
 *  Login
 *----------------------------------------------- */

 .login{
  margin-left: 25%;
  background-color: #e5e5e5;
}

.login h1{
  margin: 20px 0 40px;
}
/* 
@media (min-width: 768px) and (max-width: 991px) {
  .login{
    margin-left: 16.66%;
  }
}

@media (max-width: 767px) {
  .login{
    margin-left: 0;
  }
} */

section.logged-user{
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 40px;
}

section.logged-user .row{
  padding: 0px;
  margin: 0px;

}

.logged{
  margin-top: 45px;
}

.logged-banner{
  margin-top: 135px!important;
}

.user-info-bar #login-pan a {
  float: right;
}
.user-info-bar a {
  border-left: 1px solid #1ca696;
  border-right: 1px solid #1ca696;
  color: #ffffff;
  display: block;
  float: left;
  height: 44px;
  margin-left: -1px;
  padding: 10px 12px 0 34px;
  position: relative;
  font-family: "Open Sans",sans-serif
}

.user-info-bar a:hover{
  background-color: #188b7e;
}

.user-info-bar a .icon {
  bottom: auto;
  left: 14px;
  position: absolute !important;
  right: auto;
  top: 13px;
  z-index: 1;
}

.user-info-bar{
  background-color:#1fb7a6;
  z-index: 1;
  height: 45px;
  font-size: 14px;
}

.f-banner{
  max-width:1280px;
  margin: 0 auto!important;
}




/* --------------------------------------------
 *  SLICK + OWL
 *----------------------------------------------- */

 .wrap-slick3-arrows {
  position: absolute;
  z-index: 100;
  width: 94.6%;
  right: 15px;
  top: calc(50% - 20px);
}
.flex-sb-m {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.arrow-slick3 {
  font-size: 25px;
  color: #fff;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,.5);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.arrow-slick3:hover{
  background-color: #000;
}

.slick-dots li.slick-active button:before {
      color: #FF9800;
  }
.slick-dots li button:before{
  font-size: 1rem;
}
.slick-dots{
  bottom: 10px !important;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.owl-nav {
  display: none;
}
.owl-carousel:hover .owl-nav {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-nav button {
  background: transparent;
  color: #869791;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 170px;
  opacity: 0.5;
}
.owl-theme .owl-nav button span i{ font-size: 40px}
.owl-theme .owl-nav .owl-prev {
  left: 0!important;
  padding-left: 20px!important;
}
.owl-theme .owl-nav .owl-next {
  right: 0!important;
  padding-right: 20px!important;
}
.owl-dots{
  position: absolute;
  bottom:10px;
  left:40%;
  right:40%;
}

.custom-overlay-inner{
  position:absolute;
  color:#FFF;
  font-size:12px;
  display:block;
}



